:root {
  --main-bg: #080D11;
  --dark-bg: #15202C;
  --yellow-bg: #E3A400;
  --text_color: #FFF;
  --grey-bg: #282F36;
  --header-bg: #131F2B;
  --card-bg: #0F1720;
  --card-border: #72869C;
  --gray-color: #BAC1CA;
}

.header__2 {
  width: 100%;
  padding: 22px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--header-bg);
}

.logo__2 {
  color: var(--yellow-bg);
  font-size: 48px;
  font-weight: 800;
}

.nav__2 {
  display: flex;
  gap: 37px;
  font-size: 18px;
  font-weight: 500;
  padding-right: 214px;
}

.welcome_page__1 {
  background-color: var(--main-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0;
}

.welcome_title__1{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.welcome_text__1{
  font-size: 16px;
  font-weight: 300;
}

.btn__1{
  background-color: var(--yellow-bg);
  color: var(--text_color);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
}

.submit_application__1{
  padding: 15px 40px;
  margin-block: 45px 70px;
}

.highlighted__1{
  color: var(--yellow-bg);
}

.pluses__1{
  display: flex;
  align-items: start;
  gap: 10px;
}

.pluse__1{
  text-align: center;
  width: 120px;
  display: flex;
  flex-flow: column;
  gap: 5px;
  font-size: 16px;
  font-weight: 600;

  span{
    font-size: 25px;
    font-weight: 700;
  }
}

.services__1{
  background: url(../img/services/img.png),  var(--dark-bg);
  background-position: left top;
  background-repeat: no-repeat;
}

.services_cards__1{
  display: flex;
  justify-content: space-between;
}

.services_card__1{
  background-color: var(--card-bg);
  border: 3px solid var(--card-border);
  border-radius: 15px;
  width: 390px;
  height: 360px;
  padding: 35px 48px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 20px;

  /* g > rect{
    fill: #009914;
  } */
}

.services_card_title__1{
  font-size: 25px;
  font-weight: 600;
}

.services_card_more_detailed__1{
  font-weight: 600;
}

.name_block__1{
  font-size: 32px;
  font-weight: 600;
  /* margin-bottom: 50px; */
}

/* .car_card__1 g g rect{
  fill: #769c72;
} */

.our_cars__1{
  .services_card__1 {
    height: 480px;
  }
  .services_card_title__1{
    font-size: 24px;
  }
  .services_card_text__1{
    font-size: 12px;
  }
  svg{
    margin: -24px;
    height: 270px;
    rect{
      height: 270px;
    }
  }
}

.advantages__1{
  background: url(../img/advantages/img_bg.png), var(--dark-bg);
  background-position: right bottom;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.advantages_list__1{
  display: flex;
  flex-flow: wrap;
  gap: 100px;
}

.advantage__1{
  width: 290px;
}

.advantage_name{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.about__1{
  background: url(../img/about/img_bg.png), var(--yellow-bg);
  background-position: right bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;

}

.about_description__1{
  width: 550px;
  line-height: 1.2;
  display: flex;
  flex-flow: column;
  gap: 52px;
}

.title_about__1{
  margin-bottom: 20px;
}

.characteristics__1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.characteristic__1{
  background-color: var(--dark-bg);
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  width: min-content;
  padding: 10px 25px;
  text-align: center;
}

.characteristic_num__1{
  font-size: 64px;
  font-weight: 700;
}

.characteristic_text__1{
  width: max-content;
  color: var(--gray-color);
}

.btn_more{
  font-size: 20px;
  font-weight: 700;
  border-radius: 15px;
  background-color: var(--dark-bg);
  padding: 22px 77px;
  width: min-content;
}

.header__2 {
  width: 100%;
  padding: 22px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--header-bg);
}

.logo__2 {
  color: var(--yellow-bg);
  font-size: 48px;
  font-weight: 800;
}

.nav__2 {
  display: flex;
  gap: 37px;
  font-size: 18px;
  font-weight: 500;
  padding-right: 214px;
}

.pad-inline {
  padding-inline: 135px;
}

.pad-block {
  padding-block: 50px;
}

.about__container__2 {
  background: #080D11;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about__container__2::after {
  content: url("../img/aboutUs/Rectangle124.png");
  position: absolute;
  top: 0;
  left: -10%;
}

.about__h__2 {
  color: var(--text_color);
  font-size: 48px;
  font-weight: 800;
}

.yellow__text__2 {
  color: var(--yellow-bg);
}

.about__text__2 {
  font-size: 24px;
  width: 1223px;
  margin: 50px 0 30px 0;
}

.advantages__2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages__card__2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.advantages__h__2 {
  width: 330px;
  font-size: 28px;
  font-weight: 500;
}

.we__offer__container__2 {
  padding: 120px 0;
  background: #080D11;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 142px;
  position: relative;
}

.we__offer__container__2::after {
  content: url("../img/aboutUs/Rectangle 123.png");
  position: absolute;
  bottom: -2.4px;
  right: 0;
}

.we__offer__content__2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.we__offer__content__h__2 {
  font-size: 38px;
  font-weight: 600;
}

.we__offer__content__text__2 {
  font-size: 28px;
  font-weight: 300;
  padding: 27px 0;
  width: 648px;
}

.yellow__list__2 {
  display: flex;
  flex-direction: column;
  gap: 13px;

  li {
    list-style: inside;
    font-size: 28px;
    font-weight: 300;
  }
}

li::marker {
  color: var(--yellow-bg);
}

.pad__no {
  padding: 0;
}

.we__offer__content__text__pad__2 {
  margin: 40px 0;
  width: 600px;
}

.ul__h__2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 15px;
}

.we__offer__content__text__margin__2 {
  font-size: 28px;
  font-weight: 300;
}

.fz__no {
  font-size: 28px;
  font-weight: 300;
}





.delivery__2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--grey-bg);
}

.delivery__h__2 {
  text-align: center;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 70px;
}

.delivery__cards__2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.delivery__card__2 {
  background: #FFF;
  border-radius: 15px;
  padding: 40px 50px 60px 50px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  text-align: left;
    gap: 12px;
}

.delivery__card__h__2 {
  color: #3C3B3E;
  width: 360px;
  font-weight: 500;
  font-size: 30px;
}

.delivery__card__text__2 {
  width: 360px;
  color: #3C3B3E;
  font-size: 20px;
  font-weight: 300;
}

.width__no {
  padding-bottom: 23px;
}

.history__2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-block: 120px;
  background: #080D11;
}
.history__content__2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.history__h__2 {
  font-size: 40px;
  font-weight: 600;
}
.history__text__2 {
  font-size: 24px;
  font-weight: 300;
  width: 810px;
}

.history__text__2:not(:first-child) {
  padding-top: 25px;
}






.footer__container__2 {
  background: #15171A;
  padding-block: 100px 150px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 120px;
}

.footer__col__2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 10px;
}

.col__h__2 {
  font-weight: 500;
  color: #DFDFDF;
  font-size: 20px;
  padding-bottom: 12px;
}
.col__text__2 {
  color: #8C98A4;
  font-size: 16px;
  font-weight: 300;
}
.social {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.vacancies__2 {
  background: #080D11;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.vacancies__h__2 {
  font-size: 36px;
  font-weight: 500;
}
.vacancies__cards__2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.vacancies__card__2 {
  border-radius: 15px;
  background: #FFF;
  padding-block: 30px;
  padding-left: 65px;
  padding-right: 135px;
  width: 445px;
}
.vacancies__card__h__2 {
  font-size: 24px;
  font-weight: 600;
  color: #3C3B3E;
  padding-bottom: 15px;
  width: 332px;
}

.vacancies__card__text__2 {
  color: #3C3B3E;
  font-size: 20px;
  font-weight: 500;
  padding-top: 5px;
}

.vacancies__card__btn__2 {
  padding: 10px 30px;
  border-radius: 10px;
  background: var(--yellow-bg);
  color: #FFF;
  margin-top: 20px;
}

.vacancies__btn__2 {
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
  background: var(--yellow-bg);
  border-radius: 20px;
  padding: 24px 77px;
  margin-block: 80px;
}

.contacts__h__2 {
  font-size: 48px;
  font-weight: 700;
  color: #FFF;
  display: flex;
  justify-self: start;
  padding-bottom: 50px;
}
.contacts__contents__2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 190px;
  margin-bottom: 130px;
}
.contacts__content__2 {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 13px;
}

.contacts__main__2 {
  background: #080D11;
  padding-top: 50px;
}

.contacts__content__h__2 {
  font-size: 34px;
  color: var(--yellow-bg);
  font-weight: 500;
}
.contacts__content__text__2 {
  font-size: 20px;
  font-weight: 500;
}

.contacts__socail__2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cp__2 {
  cursor: pointer;
}

.history__h__3 {
  font-weight: 600;
  font-size: 32px;
  color: white;
}

.white {
  color: white;
}

.history__text__3 {
  font-size: 32px;
  color: #989EA2;
  width: 1090px;
}

.gp30 {
  display: flex;
  gap: 35px;
}

.history__3 {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 30px;
  margin-bottom: 160px;
}

.partnerships__2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 120px;
}
.partnerships__card__2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 15px;
  border-radius: 15px;
  background: #FFF;
  width: 530px;
  padding: 23px 30px 24px 25px;
}
.partnerships__card__text__2 {
  color: #747F88;
  font-size: 20px;
}
.fz40 {
  font-size: 40px;
}

.feedback__2 {
  display: flex;
  justify-content: space-between;
  background: #15202C;
}
.question__2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.question__h__2 {
  font-size: 32px;
  font-weight: 500;
}
.question__text__2 {
  font-size: 16px;
  font-weight: 300;
  padding: 30px 0 20px 0;
  width: 400px;
}
.question__text__gap__2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 16px;
  font-weight: 200;
  gap: 10px;
}
.feedback__social__2 {
  display: flex;
  align-items: center;
  gap: 10px;
}


.feedback__form__2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.form__input__2, .form__textarea__2 {
  width: 810px;
  padding: 24px 47px;
  background: #E8EDF2;
  border: solid 3px #4A5E74;
  font-size: 20px;
  color: #000;
  border-radius: 15px;
}
.form__textarea__2 {
  height: 142px;
  resize: none;
}
.form__btn__2 {
  border: solid 4px rgba(227, 164, 0, 0.2);
  background: var(--yellow-bg);
  width: 810px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  padding: 20px 40px;
  border-radius: 15px;
  cursor: pointer;
}